<div>

    <!--menu de valores -->

    <div class="container p-5 rounded-3 ">

        <div class="container ">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="modal" href="#modalMision" role="button">Mision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" href="#modalVision" role="button">Vision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="modal" href="#modalValores" role="button">Valores</a>
                </li>
                <li class="nav-item ms-auto"> <!-- 'ms-auto' para mover este elemento hacia la derecha -->
                    <a class="nav-link sesion" data-bs-toggle="modal" href="#modalValores" role="button">Inicio de
                        Sesion</a>
                </li>
            </ul>

        </div>
    </div>

    <!-- Modal Msion -->
    <div class="modal fade" id="modalMision" role="dialog">

        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>

    </div>

    <!-- Modal Vision -->
    <div class="modal fade" id="modalVision" role="dialog">

        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalValores" role="dialog">

        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>

    </div>




    <!--Nombre empressa y logo-->


    <div class="container  p-5 rounded-3 fondo ">

        <div class="container ">

            <!-- Logo -->
            <img src="assets/img/logo1.png" alt="Logo PaqueExpres" class="logo d-inline">

            <!-- titulo -->

            <h1 class="d-inline"> PaqueExpres...</h1>

        </div>


    </div>

    <!--  logros -->
    <div class="container p-5">



        <div class="row">
            <div class="col-sm-4">
                <h3>METAS: </h3>
            </div>
            <div class="col-sm-4">
                <h3>Tiempo </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>Cuidado</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>Compromiso</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>



    </div>

</div>