<div>

    <div class="container p-5">


        <h4 class="titulo"> Nuevo Destino </h4>

        <div class="imputs">

            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Ingrese el nombre">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Ingrese la dirección">
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <input type="number" class="form-control text-area" placeholder="Ingrese la cuota">
                </div>
                <div class="col-md-6">
                   
                </div>
            </div>



            <div class="row">

                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-guardar ">Guardar</button>
                </div>


                <div class="col-md-6">
                    <button type="button" class="btn btn-secondary  btn-cancelar ">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</div>