<div>

    <div class="container p-5">

        <h4 class="titulo">Localización de Paquete </h4>

        <div class="buscador pt-5">

            <div class="input-group">
                <input type="number" class="form-control" placeholder="Ingresar ID ">
                <button class="btn btn-buscar" type="submit">Buscar</button>
            </div>

        </div>



        <div class="tablas pt-5">

            <table class="table table-dark table-hover">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july.com</td>
                  </tr>
                </tbody>
              </table>

        </div>


    </div>

</div>