<div class="container p-5">


    <h4 class="titulo"> Registrar Entrada de Paquete. </h4>
    

    
    <div class="imputs">

        <div class="row">

            <div class="col-md-6">
                <input type="text" class="form-control text-area" placeholder="ID del paquete">
            </div>

            <div class="col-md-6">
                <input type="text" class="form-control text-area" placeholder="Fecha y hora de salida">
            </div>

        </div>


        <div class="row">

            <div class="col-md-6">
                <button type="button" class="btn btn-secondary  btn-cancelar ">Cancelar</button>
            </div>

            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-guardar  ">Guardar </button>
            </div>
        </div>
    </div>
</div>