<div>

    <div class="container p-5">


        <h4 class="titulo"> Nueva Ruta </h4>

        <div class="imputs">

            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Ingrese la carretera">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Ingrese su apellido">
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Ingrese su correo">
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control text-area" placeholder="Ingrese una contraseña">
                </div>
            </div>




            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Ingrese su rol">
                </div>

                <div class="col-md-6">
                    <div class="dropdown">

                        <button type="button" class="btn btn-primary dropdown-toggle text-area"
                            data-bs-toggle="dropdown">Genero</button>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Masculino</a></li>
                            <li><a class="dropdown-item" href="#">Femenino</a></li>
                            <li><a class="dropdown-item" href="#">Otro</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Ingrese no. Telefono">
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control text-area" placeholder="Ingrese su edad">
                </div>
            </div>


            <div class="row">

                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-guardar ">Guardar</button>
                </div>


                <div class="col-md-6">
                    <button type="button" class="btn btn-secondary  btn-cancelar ">Cancelar</button>
                </div>
            </div>
            
        </div>



    </div>



</div>

