<div>

    <div class="container p-5">

        <h4 class="titulo">Paquetes por Entregar</h4>


        <div class="tablas pt-5">

            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID Cliente </th>
                        <th>Descripción</th>
                        <th>Referencia Destino</th>
                        <th>Estado</th>
                        <th>Fecha de Entrada</th>
                    </tr>

                </thead>
                <tbody data-bs-toggle="tooltip" title="Entregar paquete!">
                    <tr *ngFor="let paquete of package">

                        <td>{{ paquete.id }} </td>
                        <td>{{ paquete.cliente }} </td>
                        <td>{{ paquete.descripcion}} </td>
                        <td>{{ paquete.referencia}} </td>
                        <td>{{ paquete.estado }} </td>
                        <td>{{ paquete.fechaEntrada }} </td>


                    </tr>

                </tbody>
            </table>
        </div>



    </div>



</div>