<!-- Menu de componenete admin-->
<div>

    <div class="container p-2">


        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#usuario" href="#">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"type="button" data-bs-toggle="offcanvas" data-bs-target="#rutas" href="#">Rutas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo"href="#">Puntos Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" href="#">Reportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" href="#">Destino</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" href="#">Destino</a>
            </li>
        </ul>


    </div>


    <div class="container p-4 pb-5 componente" id="componente">

        

    </div>



    <div id="PestaniaUsuarios">


        <div class="offcanvas offcanvas-start " id="usuario">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Usuarios</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                
                <button class="btn btn-secondary" type="button">A Button</button>
            </div>
        </div>

    </div>

    <div id="PestaniaRutas">


        <div class="offcanvas offcanvas-start " id="rutas">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Rutas</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                
                <button class="btn btn-secondary" type="button">A Button</button>
            </div>

        </div>

    </div>


</div>