<!-- Menu de componenete admin-->
<div>

    <div class="container p-2">


        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#usuario">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#rutas">Rutas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#puntoControl">Puntos Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#reporte">Reportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#destino">Destino</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " type="button" data-bs-toggle="offcanvas" data-bs-target="#tarifa">Tarifa</a>
            </li>
        </ul>


    </div>


    <!--  cuerpo del panel-->

    <div class="container p-4 pb-5 componente" id="componente">

        <app-new-user></app-new-user>

    </div>


    <!-- Menus  -->

    <div id="PestaniaUsuarios">


        <div class="offcanvas offcanvas-start " id="usuario">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Usuarios</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>

            <div class="offcanvas-body">

                <div class="btn-group-vertical">

                    <button class="btn btn-secondary btn-menu p-2" type="button">Agrear Usuario</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Desactivar Usuario</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Actualizar Datos</button>
            
                </div>
            </div>
        </div>

    </div>

    <div id="PestaniaRutas">


        <div class="offcanvas offcanvas-start " id="rutas">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Rutas</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">

              
                
                <div class="btn-group-vertical">

                    <button class="btn btn-secondary btn-menu p-2" type="button">Agrear Ruta</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Desactivar Ruta</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Actualizar Datos</button>
            
                </div>

            </div>
        </div>
    </div>

    <div id="PestaniaPContol">


        <div class="offcanvas offcanvas-start " id="puntoControl">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Punto de Control</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">

              
                
                <div class="btn-group-vertical">

                    <button class="btn btn-secondary btn-menu p-2" type="button">Agrear Punto Control</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Desactivar Punto Control</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Eleminar Punto Control</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Actualizar Datos</button>
            
                </div>

            </div>
        </div>
    </div>

    <div id="PestaniaReportes">


        <div class="offcanvas offcanvas-start " id="reporte">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Reporte</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">

              
                
                <div class="btn-group-vertical">

                    <button class="btn btn-secondary btn-menu p-2" type="button">Agrear Usuario</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Desactivar Usuario</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Actualizar Datos</button>
            
                </div>

            </div>
        </div>
    </div>

    <div id="PestaniaDestino">


        <div class="offcanvas offcanvas-start " id="destino">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Destino</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">

              
                
                <div class="btn-group-vertical">

                    <button class="btn btn-secondary btn-menu p-2" type="button">Agrear Destino</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Desactivar Destino</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Actualizar Datos</button>
            
                </div>

            </div>
        </div>
    </div>

    <div id="PestaniaTarifa">


        <div class="offcanvas offcanvas-start " id="tarifa">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Tarifa</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">

              
                
                <div class="btn-group-vertical">

                    <button class="btn btn-secondary btn-menu p-2" type="button">Agrear Tarifa</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Cambiar Tarifa</button>
                    <button class="btn btn-secondary btn-menu p-2" type="button">Actualizar Datos</button>
            
                </div>

            </div>
        </div>
    </div>   

</div>