<div>


    <div class="container p-5 ">

        <h3 class="titulo"> Hacer un Nuevo Envio </h3>

        <div class="container" id="container1">

            <h4 class="subTitulo"> Datos del Cliente: </h4>



            <div class="imputs">

                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control text-area" placeholder="Nombre del Cliente">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control text-area" placeholder="Nit del Cliente">
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary  btn-cancelar ">Cancelar</button>
                    </div>

                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-guardar"
                            (click)="mostrarSiguiente(1)">Siguente</button>
                    </div>


                </div>

            </div>
        </div>


        <div class="container d-none" id="container2">
            
            <h4 class="subTitulo"> Paquetes a Enviar: </h4>

        <div class="imputs">


            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Destino: ">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Ruta: ">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <input type="number" class="form-control text-area" placeholder="Peso: ">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" placeholder="Nit del Cliente">
                </div>
            </div>


        </div>


        </div>

    </div>