<div>

    <div class="container p-5 ">

        <h3 class="titulo p-3"> Hacer un Nuevo Envio </h3>

        <div class="container" id="container1">

            <h4 class="subTitulo p-3"> Datos del Cliente: </h4>

            <div class="imputs">

                <div class="row">

                    <div class="col-md-6">
                        <input type="text" class="form-control text-area" [(ngModel)]="id_cliente" placeholder="Nit del Cliente">
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control text-area" placeholder={{id_cliente}}>
                    </div>
                  
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <button type="button" class="btn btn-secondary  btn-cancelar ">Cancelar</button>
                    </div>

                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-guardar"
                            (click)="mostrarSiguiente(1)">Siguente</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="container d-none" id="container2">

            <h4 class="subTitulo p-3"> Paquete a Enviar: </h4>

            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-destino" data-bs-toggle="modal" (click)="obtnerDestino()"
                        data-bs-target="#destino"> Destino </button>
                </div>

                <div class="col-md-6">
                    <input type="number" class="form-control text-area" [(ngModel)]="peso" placeholder="Peso: ">
                </div>


            </div>

            <div class="row">


                <div class="col-md-6">
                    <input type="text" class="form-control text-area" [(ngModel)]="descripcion" placeholder="Descripcion: ">
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control text-area" [(ngModel)]="referencia_destino" placeholder="Referencia de Destino (opcional) ">
                </div>

            </div>


            <div class="row">

                <div class="col-md-6 fecha">
                    <h4> Fecha y hora: {{fechaFormateada }} </h4>
                </div>
            </div>

            <div class="row botonesMenu">
                

                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary btn-regresar"
                        (click)="regresarContenedor(2)">Regresar</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary btn-cancel">Cancelar</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary btn-otro" (click)="enlistaPaquete()">Agregar a Lista</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-confirmar" (click)="mostrarSiguiente(3)">Siguinte</button>
                </div>

            </div>

        </div>


        <div class="container d-none" id="container3">

            <h4 class="subTitulo p-3"> Lista de paquetes </h4>        

            <table class="table table-dark table-hover" >
                <thead>
                    <tr>
                        <th>ID Cliente</th>
                        <th>ID Destino </th>
                        <th>Peso</th>
                        <th>Descripcion</th>
                        <th>Referencia</th>
                        <th>Fecha Entrada</th>
                    </tr>

                </thead>
                <tbody data-bs-toggle="tooltip" title="Elegir destino!" >
                    <tr *ngFor="let paquete of listaPaquetes" >

                        <td>{{ paquete.id_clinte }} </td>
                        <td>{{ paquete.id_destino }} </td>
                        <td>{{ paquete.peso}} </td>
                        <td>{{ paquete.descripcion}} </td>
                        <td>{{ paquete.referencia}} </td>
                        <td>{{ paquete.fecha_entrada}} </td>

                    </tr>
                </tbody>

            </table>
       

            <div class="row botonesMenu">               

                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary btn-regresar"
                        (click)="regresarContenedor(3)">Regresar</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary btn-cancel">Cancelar</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-confirmar" (click)="mostrarSiguiente(4); ">Confirmar</button>
                </div>

            </div>

        </div>


        <!-- panel de factura: -->





        <!-- seleccionar destino -->

        <div>

            <div class="modal fade" id="destino">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Elige el destino: </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">

                            <table class="table table-dark table-hover" >
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre </th>
                                        <th>Dirección</th>
                                        <th>Couta</th>
                                    </tr>

                                </thead>
                                <tbody data-bs-toggle="tooltip" title="Elegir destino!" >
                                    <tr *ngFor="let destino of destinos"  (click)="destinoSelec(destino)">

                                        <td>{{ destino.id }} </td>
                                        <td>{{ destino.nombre }} </td>
                                        <td>{{ destino.direccion}} </td>
                                        <td>{{ destino.cuota}} </td>

                                    </tr>
                                </tbody>

                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>



        

    </div>

</div>