<div>

    <div class="container p-5">


        <h4 class="titulo"> Nuevo Usuario </h4>

        <div class="imputs">

            <div class="row">
                <div class="col-md-6">
                    <input type="text"  class="form-control text-area" [(ngModel)]="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" [(ngModel)]="apellido" placeholder="Ingrese su apellido">
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" [(ngModel)]="username" placeholder="Ingrese su correo">
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control text-area" [(ngModel)]="password_has" placeholder="Ingrese una contraseña">
                
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" [(ngModel)]="id_rol" placeholder="Ingrese su rol">
                </div>

                <div class="col-md-6">
                    <div class="dropdown">

                        <button type="button" class="btn btn-primary dropdown-toggle text-area"
                            data-bs-toggle="dropdown">Genero</button>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"(click)="addGenero('Masculino')" >Masculino</a></li>
                            <li><a class="dropdown-item"(click)="addGenero('Femenino')" >Femenino</a></li>
                            <li><a class="dropdown-item"(click)="addGenero('Otro')" >Otro</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <input type="text" class="form-control text-area" [(ngModel)]="telefono" placeholder="Ingrese no. Telefono">
                </div>
                <div class="col-md-6">

                    <input type="number" class="form-control text-area" (input)="obtenerEdad($event)" placeholder="Ingrese su edad">

                </div>
            </div>

            <div class="row">              

                <div class="col-md-6">
                    <div class="dropdown">

                        <button type="button" class="btn btn-primary dropdown-toggle text-area"
                            data-bs-toggle="dropdown">Estado</button>

                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" (click)="addEstado('1')" >Activo</a></li>
                            <li><a class="dropdown-item" (click)="addEstado('0')">Inactivo</a></li>

                        </ul>
                    </div>
                </div>
               

                <div class="col-md-6">
                    
                </div>

            </div>


            <div class="row">

                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-guardar" (click)="newUser()">Guardar</button>
                </div>


                <div class="col-md-6">
                    <button type="button" class="btn btn-secondary  btn-cancelar " (click)="cleanImputs()">Cancelar</button>
                </div>
            </div>
            
        </div>

        mensaje 
        {{result}}

        <p></p>
        error
        {{resultError}}



    </div>



</div>

